 .btn-primary {
    background: rgb(99 102 241 / var(--tw-bg-opacity, 1));
 }

 .btn {
    border-radius: 100px!important;
    padding: 14px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    font-size: 16px;
 }
 .py-5 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}
.fa-circle-check {
    color: #6366f1;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  background-color: #25D366;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.whatsapp-float img {
  width: 40px;
  height: 40px;
}


@media (max-width: 480px) {
    .btn-movil {
    border-radius: 100px !important;
    padding: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    margin: 20px;
   }
}